# Git
.git
.gitignore

# Node modules (will be installed in container)
node_modules

# Compiled output (not needed for webpack-dev-server)
compiled-output/

# Internal data
.hive/

# Tests
test/
test_util/

# CI/CD
.github/
Jenkinsfile

# Unnecessary config
karma.conf.js
Gruntfile.js
